{{!< layout/main}}

<div class="jumbotron">
  <p>Voting APP for Free Code Camp</p>
  <p><a class="btn btn-primary btn-lg" href="https://www.freecodecamp.com/challenges/build-a-voting-app" role="button">Learn more</a></p>
</div>
