{{!< layout/main}}
<div class="wrapper">
  <form class="form-signin" action={{action}} method="post">       
    <h2 class="form-signin-heading">{{message}}</h2>
    <div class="input-group">
      <span class="input-group-addon" id="username-addon">@</span>
      <input type="text" class="form-control" name="username" placeholder="Username" aria-describedby="username-addon">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="username-addon"><span class="glyphicon glyphicon-lock"></span></span>
      <input type="password" class="form-control" name="password" placeholder="Password" aria-describedby="psw-addon">
    </div>
    </br>
    <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>   
  </form>
</div>
