{{!< layout/main}}
<div class="wrapper">
  <form class="form-signin" action={{action}} method="post">
    <h2 class="form-signin-heading">{{title}}</h2>
    <label for="username">Username:</label>
    <div class="input-group">
      <span class="input-group-addon" id="username-addon"><span class="glyphicon glyphicon-user"></span></span>
      <input type="text" class="form-control" name="username" placeholder="Your unique name" aria-describedby="username-addon">
    </div>
    <label for="Password">Password:</label>
    <div class="input-group">
      <span class="input-group-addon" id="username-addon"><span class="glyphicon glyphicon-lock"></span></span>
      <input type="password" class="form-control" name="password" placeholder="Your strong password" aria-describedby="psw-addon">
    </div>
    </br>
    <button class="btn btn-lg btn-success btn-block" type="submit">{{buttonValue}}</button>
  </form>
</div>
